streamlit
langchain
langchain-groq
langchain_community
pypdf
python-dotenv
ipykernel
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
sentence-transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas 
